.contain{
	position: absolute;
	
	width: 400px;
	height: 550px;
	left: 450px;
	top: 75px;
	border: 1px solid #DFE0EB;
	box-sizing: border-box;
	border-radius: 5px;
	background: #FFFFFF;
}
.form-group{
	
	 margin: 20px;
}
h1{
	font-style: strong;
	margin: 20px;
	text-align: center;
}

#pass{
	width: 350px;
}
input{
	width: 350px;
}