.shopList{
	position: absolute;
	width: 1046px;
	height: 276px;
	left: 200px;
	top: 219px;
	
	background: #FFFFFF;
	
}
img{
	position: absolute;
	width: 73px;
	height: 73px;
	
	left: 80px;

}
.col{
	
	width: 834px;
	height: 75px;
	left: 200px;
	
	border: 1px solid #DFE0EB;
	box-sizing: border-box;
	border-radius: 5px;
}
.item{
	height: 16px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;

	letter-spacing: 0.1px;

	color: #313131;
}

.texts{
	margin: auto;
	position: absolute;
	width: 620px;
	height: 75px;
	left: 180px;
}

.col-description{
	display: none;
	overflow: hidden;
	height: 75px;
	width: 834px;
	left: 80 px;
	
	border: 1px solid #DFE0EB;
	box-sizing: border-box;
	border-radius: 5px;
	
}
a{
	text-decoration:none;
}
.category{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
letter-spacing: 0.1px;

color: #313131;
}

