<!-- header w/ navigation-->
{{> header }}

<div class="container">
    <!-- page content: Dashboard -->
    <div class="container"> 
        <div class="container justify-content-center mb-5">
            <img src="../images/dashboard.jpg">
            <h6 class="card-subtitle text-center">We make it effortless to keep track of what's in your home.</h6>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-2">
            <!-- inventory -->
            <div class="col mb-1">
                <div class="card h-100">
                    <div class="card-body">
                        <!-- makes the card clickable -->
                        <a href="/inventory" class="stretched-link"><h5 class="card-title mt-5">Inventory</h5></a>
                        <h6 class="card-subtitle text-muted">Total Items: {{ inv }}</h6>
                        <p class="card-text desc">Keep track of your household products</p>
                    </div>
                </div>
            </div>

            <!-- favorites -->
            <div class="col mb-1">
                <div class="card h-100">
                    <div class="card-body">
                        <!-- makes the card clickable -->
                        <a href="/favorites" class="stretched-link"><h5 class="card-title mt-5">Favorites</h5></a>
                        <h6 class="card-subtitle text-muted">Total Items: {{ fav }}</h6>
                        <p class="card-text desc">Add products to your favorites</p>
                    </div>
                </div>
            </div>

            <!-- shopping list -->
            <div class="col mb-1">
                <div class="card h-100">
                    <div class="card-body">
                        <!-- makes the card clickable -->
                        <a href="/shopping" class="stretched-link"><h5 class="card-title mt-5">Shopping List</h5></a>
                        <h6 class="card-subtitle text-muted">Total Items: {{ shop }}</h6>
                        <p class="card-text desc">Maintain a list for your next shopping trip</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-absolute bottom-0 end-0">
            <a href="https://www.freepik.com/vectors/cute-family" class="text-muted credits">Cute family vector created by pch.vector - www.freepik.com</a>
        </div>
    </div>
</div>