<html>
<head>
	<title> Inventory - Login </title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href = "/js/logreg.css"></style>

	
</head>

<body > 
	<div class=" col-md-4 col-md-offset-4">
		<div class= "contain">
			<div style = "background-color: lime">
			{{#if this.success_msg}}
                <h4 style="color: green; text-align: center"><strong>{{this.success_msg}}</strong></h4>
			{{/if}}
			</div>
			<h1> Login</h1>
				<form name = "Login" action ="/login"  method = "post" onsubmit= "return submitLog()">
					<div class="form-group">
						<label for="uname" >Username</label>
						<input type=text name = "uname" class="form-control" placeholder ="Username" maxlength =45 required>
					</div>	
		
					<div class = "form-group">
						<label for="pass" >Password: </label>
						<input type=password name="pass" class="form-control" placeholder= "Password" required>
					</div>	
		
					<div class= "form-group">
						<input class = "form-control"type=submit value ="login">
						{{#if this.error_msg}}
                			<p style="color: #B00020">{{this.error_msg}}</p>
						{{/if}}
					</div>
					
				</form>
			<div class= "form-group">Don't have an account? <a href = "/register"> Sign-up</a></div>
		</div>
	</div>

</body>
</html>