<!-- header w/ navigation-->
{{> header }}

<div class="container">
    {{!-- Page content: Profile --}}
    <div class="container mt-3">
        <!-- profile details -->
        <div class="row justify-content-center shadow rounded">
            <div class="col-5 p-3 text-center">
            <img src="../images/profile/{{ userImage }}" class="img-fluid mb-2">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#changeModal">Upload Image</button>
            </div>
            <div class="col-7 pt-5 ps-4">
                <h2 class="card-title">{{ userName }}</h5>
                <h5 class="card-subtitle mb-3">{{ userUName }}</h6>
                <h6 class="card-subtitle text-muted fw-light fst-italic">{{ userEmail }}</h6>
                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
            </div>
        </div>

        <!-- modal to change picture -->
	    <div class="modal fade" id="changeModal" tabindex="-1">
		    <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content">
				    <div class="modal-body">
					    <h5>Change Profile Picture</h5>
                        <form name = "ChangePic" action="./change-pic" method = "POST" enctype = "multipart/form-data">
				            <input type=file class="mt-2" accept="image/*" name="image" onchange = "return validPicture()" required /><br>
                            <input class = "btn btn-primary mt-3" data-bs-dismiss="modal" type=submit  value = "Save" />
                        </form>
			        </div>
			    </div>
		    </div>
	    </div>

        <!-- modal to confirm delete account -->
	    <div class="modal fade" id="deleteModal" tabindex="-1">
		    <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content">
				    <div class="modal-body">
					    <h5>Are you sure you want to delete your account?</h5>
			        </div>
			        <div class="modal-footer">
					    <form action="/delete-account" method="POST">
                            <input type = "submit" value = "Yes" class="btn btn-secondary">
                        </form>
					    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
		            </div>
			    </div>
		    </div>
	    </div>

        <!-- password settings -->
        <div class="row shadow mt-3 rounded">
            <div class="col-sm-8 col-md-7 p-3 ps-4 py-3">
                <h4 class="card-title mb-2">Update Password</h5>
                <form name="changePassword">
                    <!-- current password -->
                    <div class="mb-2">
                        <label for="curpass" class="form-label text-muted fw-light">Current Password</label>
                        <input type="password" class="form-control" id="curpass">
                    </div>
                    <!-- new password -->
                    <div class="mb-2">
                        <label for="newpass" class="form-label text-muted fw-light">New Password</label>
                        <input type="password" class="form-control" id="newpass">
                    </div>
                    <!-- re-enter password -->
                    <div class="mb-3">
                        <label for="repass" class="form-label text-muted fw-light">Retype New Password</label>
                        <input type="password" class="form-control" id="repass">
                    </div>
                    <input type = "button" id="submit" value = "Update Password" class="btn btn-outline-dark btn-sm"></td>
                </form>
                <p id="error" class="mt-3 mb-1"></p>
            </div>
        </div>
    </div>
</div>