{{!-- Page content: Profile --}}
<div class="container mt-4">
    <!-- profile details -->
    <div class="row justify-content-center shadow rounded">
        <div class="col-5 p-3 text-center">
        <img src="img/{{ profile.image }}" class="img-fluid mb-2">
            <div style="height: 0px; overflow: hidden;">
                <input type="file" id="imgUpload" accept="image/*" id="pic" onchange = "return validPicture()">
            </div>
        </div>
        <div class="col-7 pt-5 ps-4">
            <h2 class="card-title">{{ profile.userName }}</h5>
            <h6 class="card-subtitle text-muted fw-light fst-italic">{{ profile.userEmail }}</h6>
            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
        </div>
    </div>

    <!-- modal to confirm clear -->
	<div class="modal fade" id="deleteModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<h5>Are you sure you want to delete your account?</h5>
			    </div>
			    <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
		        </div>
			</div>
		</div>
	</div>

    <!-- password settings -->
    <div class="row shadow mt-3 rounded">
        <div class="col-sm-8 col-md-6 p-3 ps-4 py-4">
            <h4 class="card-title mb-2">Update Password</h5>
            <form name="changePassword" onSubmit = "return checkPasswords()">
                <!-- current password -->
                <div class="mb-2">
                    <label for="curpass" class="form-label text-muted fw-light">Current Password</label>
                    <input type="password" class="form-control" id="curpass">
                </div>
                <!-- new password -->
                <div class="mb-2">
                    <label for="newpass" class="form-label text-muted fw-light">New Password</label>
                    <input type="password" class="form-control" id="newpass">
                </div>
                <!-- re-enter password -->
                <div class="mb-3">
                    <label for="repass" class="form-label text-muted fw-light">Retype New Password</label>
                    <input type="password" class="form-control" id="repass">
                </div>
                <input type = "submit" value = "Update Password" class="btn btn-outline-dark btn-sm"></td>
            </form>
        </div>
    </div>
</div>