.contain {
	
	border: 1px solid #DFE0EB;
	box-sizing: border-box;
	border-radius: 5px;
	background: #FFFFFF;
}

.form-group {
	margin: 20px;
}

h1 {
	text-align: center;
}

input[type=submit]:hover {
	background-color: black;
	color: white;
}
