.container {
    max-height: 15rem;
    max-width: 40rem;
}

img {
    max-height: 10rem;
}

div {
    position: relative;
}

.btn-outline-danger {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

#error {
    height: 20px;
}

#error:empty {
    height: 20px;
}